@charset "UTF-8";

:root {

    --cor0: #2b333b;
    --cor1: #25292e;
    --cor2: #20252c;
    --cor3: #171b20;
    --cor4: #ff6b00;
}

body {
    background-color: var(--cor0);
    margin: 0;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

main {
    display: flex;
    height: calc(100vh - 80px);
}

#divTituloListaClientes {
    display: flex;
    align-items: center;
}

#cabeca {
    height: 80px;
    width: 100vw;
    background-color: var(--cor3);
    display: flex;
    top: 0%;
}

#barraLateral {
    background-color: var(--cor2);
    width: 250px;
    height: calc(100vh - 105px);
}

#conteudoGeral {
    flex: 1;
}

#cadastroClientes {
    margin: 0 20px 10px 20px;
    height: 30px;
    background-color: var(--cor2);
    padding: 20px;
}

#botaoCadastrar {
    color: white;
    border: 2px solid #2bff00;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    width: fit-content;
    justify-content: center;
}

#botaoCadastrar:hover {
    box-shadow: 1px 1px 10px #2bff00;
    background-color: #2bff002d;
}

#botaoCadastrar:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btnEditar {
    color: white;
    border: 2px solid #fbff00;
    border-radius: 8px;
    padding: 0px 10px;
    background: transparent;
    font-size: 1em;
}

#btnEditar:hover {
    background-color: #fbff002d;
}

#btnEditar:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btnExcluir {
    color: white;
    border: 2px solid #ff0000;
    border-radius: 8px;
    padding: 0px 10px;
    background: transparent;
    font-size: 1em;
}

#btnExcluir:hover {
    background-color: #ff00002d;
}

#btnExcluir:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#tituloListaClientes {
    color: white;
    text-decoration: underline var(--cor4);
    font-size: 2em;
    margin: 5px 0 0 0;
    flex: 1;
    text-align: center;
}

#conteudoTabelaListaClientes {
    height: calc(100vh - 185px);
    overflow-y: auto;
    margin-left: 20px;
}

#tabelaListaClientes {
    width: 100%;
    background-color: var(--cor2);
    color: white;
    border-collapse: collapse;
}

#cabecaTabelaClientes {
    background-color: var(--cor3);
    font-size: 1.3em;
}

#cabecaTabelaClientes th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--cor3);
}

#bodyTabelaListaClientes{

    td{
        border-right: 1px solid white;
        width: fit-content;
        font-size: 1.1em;
        text-indent: 5px;
    }

    tr:nth-child(even) {
        background-color: var(--cor3);
    }
}

#tabelaAcoes {
    width: 150px;
}

#btnAcoes{
    display: flex;
    gap: 8px;
    align-items: center;
}

.cliente {
    h3 {
        margin: 0 0 3px 0;
        text-decoration: underline var(--cor4);
        font-size: 1.5em;
    }

    span {
        margin-right: 10px;
    }

    background-color: var(--cor2);
    padding-left: 30px;
    border-radius: 8px;
    color: white;
    height: fit-content;
}

footer {
    height: 20px;
    width: 100%;
    background-color: var(--cor0);
    position: absolute;
    bottom: 0;
}

/* Inputs */

.input {
    color: white;
    border: 2px solid var(--cor4);
    border-radius: 8px;
    padding: 10px 25px;
    background: transparent;
    font-size: 1em;
    margin: 3px;
}

#inputNome {
    width: 787px;
}

#inputWhatsapp {
    width: 150px;
}

#inputEndereco {
    width: 1000px;
}

#inputObservacoes {
    width: 1000px;
}

.input:hover {
    box-shadow: 2px 2px 10px var(--cor4);
}

#modalCadastro {
    display: none;
}

#modalCadastro.ativo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 270px;
    width: 810px;
    background-color: var(--cor3);
    z-index: 10000;
    border-radius: 12px;
    /* outline: 100em solid rgba(0, 0, 0, 0.90); */
    box-shadow: 3px 3px 10px black;
    padding: 0 10px;
}

#overlayModal {
    display: none;
}

#overlayModal.ativo {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 9999;
}

#modalTitulo {
    text-align: center;
    color: white;
    text-decoration: underline var(--cor4);
    font-size: 1.8em;

}

#modalNome,
#modalWhatsapp,
#modalEndereco,
#modalObservacoes {
    border-radius: 6px;
    font-weight: 550;
    font-size: 1em;
    padding: 3px;
    background-color: var(--cor0);
    color: white;
    border: 1px solid white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.60);
}


#modalNome {
    width: 571px;
    margin: 5px;
}

#modalWhatsapp {
    width: 200px;
    margin: 5px 5px 5px 0;
}

#modalEndereco,
#modalObservacoes {
    width: 790px;
    margin: 5px;
}

#botoesModal {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#btnSalvar {
    color: white;
    border: 2px solid #2bff00;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    width: fit-content;
}

#btnSalvar:hover {
    background-color: #2bff002d;
}

#btnSalvar:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btnCancelar {
    color: white;
    border: 2px solid #ff0000;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    width: fit-content;
}

#btnCancelar:hover {
    background-color: #ff00002d;
}