<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
    <link rel="shortcut icon" href="../static/imagens/person_add.svg" type="image/x-icon">
</head>

<body>
    <header>
        <section id="cabeca">

        </section>
    </header>
    <main>
        <section id="barraLateral">
            <div>
                <h1 id="paginaAtual"><img src="../static/imagens/group.svg" alt="Clientes">Clientes</h1>
                <h1><img src="../static/imagens/card.svg" alt="Planos">Planos</h1>
                <h1><img src="../static/imagens/money.svg" alt="Pagamentos">Pagamentos</h1>
                <h1><img src="../static/imagens/warning.svg" alt="Inadimplência">Inadimplência</h1>
                <h1><img src="../static/imagens/halter.svg" alt="Treinos">Treinos</h1>
                <h1><img src="../static/imagens/prancheta.svg" alt="Avaliação">Avaliação</h1>
                <h1><img src="../static/imagens/personCheck.svg" alt="Frequência">Frequência</h1>
                <h1><img src="../static/imagens/work.svg" alt="Funcionários">Funcionários</h1>
                <h1><img src="../static/imagens/relatorios.svg" alt="Relatórios">Relatórios</h1>
                <h1><img src="../static/imagens/settings.svg" alt="Configuração">Configuração</h1>
            </div>
            <div id="sairLateral">
                <h1><img src="../static/imagens/sair.svg" alt="Sair">Sair</h1>
            </div>
        </section>
        <section id="conteudoGeral">
            <section id="cadastroClientes">
                <div id="divTituloListaClientes">
                    <h2 id="tituloListaClientes">Clientes Cadastrados</h2>
                    <button title="Cadastrar novo cliente" id="botaoCadastrar" type="submit"><img src="../static/imagens/person_add.svg" alt=""></button>
                </div>
            </section>
            <div id="conteudoTabelaListaClientes">
                <table id="tabelaListaClientes">
                    <thead id="cabecaTabelaClientes">
                        <tr>
                            <th id="tabelaNome">Nome</th>
                            <th>Whatsapp</th>
                            <th>Endereço</th>
                            <th>Observações</th>
                            <th id="tabelaAcoes">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTabelaListaClientes">
                        {% for cliente in clientes %}
                        <tr id="clienteIndividual">
                            <td>{{ cliente[1] }}</td>
                            <td>{{ cliente[2] }}</td>
                            <td>{{ cliente[3] }}</td>
                            <td>{{ cliente[4] }}</td>
                            <td id="btnAcoes">
                                    <button title="Editar Cliente" id="btnEditar" class="btnEditar" data-id="{{ cliente[0] }}"
                                        data-nome="{{ cliente[1] }}" data-whatsapp="{{ cliente[2] }}"
                                        data-endereco="{{ cliente[3] }}" data-observacoes="{{ cliente[4] }}">
                                        <img src="../static/imagens/edit.svg" alt="Editar Cliente">
                                    </button>
                                    <form action="/excluir/{{ cliente[0] }}" method="POST"
                                        onsubmit="return confirm('Tem certeza que deseja excluir este cliente?')">
                                        <button title="Excluir Cliente" id="btnExcluir" type="submit"><img src="../static/imagens/delete.svg"
                                                alt="Excluir Cliente"></button>
                                    </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>
    <section id="modalCadastro">
        <div id="caixaModal">
            <h2 id="modalTitulo">Cadastrar Cliente</h2>
            <form action="/cadastrar" method="POST">
                <input type="hidden" name="id_cliente" id="id_cliente">
                <input type="text" id="modalNome" name="nome" placeholder="Nome do aluno*" required>
                <input type="tel" id="modalWhatsapp" name="whatsapp" placeholder="Whatsapp">
                <input type="text" id="modalEndereco" name="endereco" placeholder="Endereço">
                <input id="modalObservacoes" name="observacoes" placeholder="Observações">
                <div id="botoesModal">
                    <button type="submit" id="btnSalvar">Salvar</button>
                    <button type="button" id="btnCancelar">Fechar</button>
                </div>
            </form>
        </div>
    </section>
    <section id="overlayModal">
    </section>
    <script src="{{ url_for('static', filename='js/clientes.js') }}"></script>
</body>

</html>